@using GraduationProject.Models
<!DOCTYPE html>
<html>
<head>
    <title>Halvfräscht</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>



    <div id="header">
        <div class="bg-light fixed-top">
            <div class="row" id="topNav">
                <div id="menuItem@(nameof(Menu.AddProduct))" class="col text-center"><a asp-controller="Givers" asp-action="AddProduct"><i class="fas fa-plus"></i><br>Ny vara</a></div>
                <div id="menuItem@(nameof(Menu.Products))" class="col text-center"><a asp-controller="Givers" asp-action="Products"><i class="fas fa-list-alt"></i><span class="countBubl" id="badge-products" @if (ViewBag.BadgeProducts == 0) { @("style=visibility:hidden;") ; }>@ViewBag.BadgeProducts</span><br>Varor</a></div>
                <div class="col text-center" id="menuItem@(nameof(Menu.Profile))"><a asp-controller="Members" asp-action="Profile"><i class="fas fa-user"></i><br>Profil</a></div>
            </div>
        </div>
    </div>
    <!-- Begin page content -->
    <div class="container">
        @RenderBody()
    </div>

    <div id="footer">
        <div class="bg-light fixed-bottom">
            @if (ViewBag.BackButton ?? false)
            {
                <div class="row" id="bottomBack">
                    <div class="col-xs-4 text-center">
                        <a href="javascript:history.back()"><i class="glyphicon glyphicon-arrow-left"></i> Tillbaka</a>
                    </div>
                </div>
            }
            <div class="row" id="bottomNav">
                <div id="menuItem@(nameof(Menu.Map))" class="col text-center"><a asp-controller="Receivers" asp-action="Map"><i class="fas fa-map-marker-alt"></i><br>Karta</a></div>
                @*<div id="menuItem@(nameof(Menu.Search))"class="col text-center"><a asp-controller="Receivers" asp-action="Search"><i class="fas fa-search"></i><br>Sök</a></div>*@
                <div id="menuItem@(nameof(Menu.Cart))" class="col text-center"><a asp-controller="Receivers" asp-action="Cart"><i class="fas fa-shopping-cart"></i><span class="countBubl" id="badge-cart" @if (ViewBag.BadgeCart == 0) { @("style=visibility:hidden;") ; }>@ViewBag.BadgeCart</span><br>Matkorg</a></div>
                <div id="menuItem@(nameof(Menu.Inbox))" class="col text-center"><a asp-controller="Messages" asp-action="Inbox"><i class="fas fa-comment"></i><span class="countBubl" id="badge-cart" @if (ViewBag.BadgeInbox == 0) { @("style=visibility:hidden;") ; }>@ViewBag.BadgeInbox</span><br>Inkorg</a></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/js/Javascript.js"></script>
    @RenderSection("Scripts", false)

    @{
        var value = ViewData[nameof(HighlightedMenuAttribute.CurrentMenu)];

        if (value != null)
        {
            <script>
                $("#menuItem" + "@value").addClass("active")
            </script>
        }
    }

</body>

</html>