@model ReceiversMapProductVM[]

@{
    Layout = null;
}

<div class="row mx-0">
    @for (int i = 0; i < Model.Length; i++)
    {
        <div class="px-1 col-sm-6 col-md-4 col-xl-2">
            <div class="productCard">
                <img src="~/products/@Model[i].ProductImage" alt="..." />
                <div class="caption productCaption">
                    <div class="title">
                        <h3>@Model[i].ProductName</h3>
                        <span>avstånd: @Model[i].ProductDistance meter</span>
                    </div>
                    <p>Hämtas före @Model[i].ProductPickUpDate2</p>
                </div>
                <div class="productButtons">
                    <button onclick="mapsSelector(@Model[i].ProductLatitude, @Model[i].ProductLongitude)" class="btn btn-light productBtn">Karta</button>
                    <button id="info_@i" onclick="showInfo(@i);" class="btn btn-light productBtn">Info</button>
                    <a asp-controller="Receivers" asp-action="ClaimProduct" asp-route-id="@Model[i].ProductId" class="btn btn-light btn-sm productBtn">Boka</a>
                </div>
            </div>
            <div class="infoCard" id="seInfoDiv_@i" style="display: none;">
                <table class="table procuctsTable">
                    <tr>
                        <th class="infoHeading">Fräschhet</th>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@Model[i].ProductFreshness" aria-valuemin="0" aria-valuemax="10" style="width: @(Model[i].ProductFreshness+"0%");">@(Model[i].ProductFreshness + "0%")</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="infoHeading">Utgångsdatum</th>
                        <td>@Model[i].ProductExpiryDate</td>
                    </tr>
                    <tr>
                        <th class="infoHeading">Beskrivning</th>
                        <td>@Model[i].ProductDescription</td>
                    </tr>
                    <tr>
                        <th class="infoHeading">Inlagd av</th>
                        <td>
                            @Model[i].GiverName<br />
                            @Model[i].GiverStreet<br />
                            @Model[i].GiverZipCode<br />
                            @Model[i].GiverCity
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>