@model ReceiversMapVM

@{
    ViewData["Title"] = "Map";
}

@foreach (var position in Model.Positions)
{
    @position.Longitude
    @position.Latitude
    @position.ProductsAmount
}
@foreach (var product in Model.Products)
{
    @product.ProductName
    @product.ProductLongitude
    @product.ProductLatitude
    @product.ProductImage
    @product.ProductPickUpDate1
    @product.ProductPickUpDate2

    <a class="button" href="#">Se info</a>
    <a class="button" asp-controller="Receivers" asp-action="ClaimProduct">Boka vara</a>
}
