@model ReceiversSearchVM
@{
    ViewData["Title"] = "AddProduct";
}

<form asp-controller="Receivers" asp-action="Search" method="post">

    <label asp-for="Search"></label>
    <input asp-for="Search" type="text" placeholder="Varunamn" />
    <span asp-validation-for="Search"></span>
    <br />
    <label asp-for="Distance"></label>
    <input asp-for="Distance" type="range" placeholder="Beskrivning" />
    <span asp-validation-for="Distance"></span>
    <br />
    <input type="submit" value="Sök" />
</form>

@for (int i = 0; i < Model.Products.Length; i++)
{
    <div class="productCard">
        <img src="~/Images/@Model.Products[i].ProductImage" alt="..." />
        <div class="caption productCaption">
            <div class="title">
                <h3>@Model.Products[i].ProductName</h3>
                <span>@Model.Products[i].ProductDistance m</span>
            </div>
            <p>Hämtas före @Model.Products[i].ProductPickUpDate2</p>
        </div>
        <div class="productButtons">
            <button onclick="mapsSelector(@Model.Products[i].ProductLatitude, @Model.Products[i].ProductLongitude)" class="btn btn-light productBtn">Karta</button>
            <button id="info_@i" onclick="showInfo(@i);" class="btn btn-light productBtn">Info</button>
            <button id="product_@Model.Products[i].ProductId" onclick="claimProduct(@Model.Products[i].ProductId);" class="btn btn-light productBtn">Boka</button>
        </div>
    </div>

    <div class="infoCard" id="seInfoDiv_@i" style="display: none;">
        <table class="procuctsTable">
            <tr>
                <th class="infoHeading">Fräschhet</th>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@Model.Products[i].ProductFreshness" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.Products[i].ProductFreshness+"0%");"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="infoHeading">Utgångsdatum</th>
                <td>@Model.Products[i].ProductExpiryDate</td>
            </tr>
            <tr>
                <th class="infoHeading">Beskrivning</th>
                <td>@Model.Products[i].ProductDescription</td>
            </tr>
            <tr>
                <th class="infoHeading">Inlagd av</th>
                <td>
                    @Model.Products[i].GiverName<br />
                    @Model.Products[i].GiverStreet<br />
                    @Model.Products[i].GiverZip<br />
                    @Model.Products[i].GiverCity
                </td>
            </tr>
        </table>
    </div>
}
<p>&nbsp;</p>
<p>&nbsp;</p>


