@model ReceiversSearchVM
@{
    ViewData["Title"] = "AddProduct";
}

<form asp-controller="Receivers" asp-action="Search" method="post">


    <input asp-for="Search" type="text" placeholder="Varunamn" />
    <span asp-validation-for="Search"></span>

    <input asp-for="Distance" type="range" placeholder="Beskrivning" />
    <span asp-validation-for="Distance"></span>

    <input type="submit" value="Sök" />
</form>



@{
    if (Model.Products != null)
    {

        foreach (var product in Model.Products)
        {
            @product.ProductName

            @product.ProductDistance
            <br />
            @product.ProductImage
            <br />
            @product.ProductPickUpDate1
            @product.ProductPickUpDate2
            <br />
            <form asp-controller="Receivers" asp-action="ClaimProduct" asp-route-id="@product.ProductId" method="post">
                @*Lägg till en ajaxgrej*@
                <input type="button" value="Se info" />
                <input type="submit" value="Boka vara" />
            </form>
        }
    }

}