@model GiversProductsVM

@{
    ViewData["Title"] = "Cart";
}

<div class="row mx-0">
    <label asp-for="Claimed" style="font-size:20px;"></label>
    @{ foreach (var product in Model.Claimed)
        {

            <div class="px-1 col-sm-6 col-md-4 col-xl-2">
                <div class="productCard">
                    <img src="~/products/@product.ProductImage" alt="..." />
                    <div class="caption productCaption">
                        <div class="title">
                            <h3>@product.ReceiverName </h3>
                        </div>
                        <p>
                            @product.ProductPickUpDate1.ToShortDateString()
                                            </p>
                    </div>
                    <div class="productButtons">
                        <a asp-controller="Givers" asp-action="ChangeProduct" asp-route-id="@product.ProductId" class="btn btn-light productBtn">Ändra</a>
                        <a asp-controller="Givers" asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="btn btn-light productBtn">Radera</a>


                        @if (product.HasChat)
                        {
                            <a asp-controller="Messages" asp-action="Chat" asp-route-productid="@product.ProductId" class="btn btn-light productBtn">Chatt</a>
                        }
                        else
                        {
                            <a asp-controller="Messages" asp-action="StartChatGiver" asp-route-receiverid="@product.ReceiverId" asp-route-productid="@product.ProductId" class="btn btn-primary">Meddela köpare</a>
                        }
                    </div>
                </div>
            </div>

        }

    }
</div>
<div class="row mx-0">
    <label class="title" asp-for="Unclaimed" style="font-size:20px;"></label>
    @{ foreach (var product in Model.Unclaimed)
        {
            <div class="px-1 col-sm-6 col-md-4 col-xl-2">
                <div class="productCard">
                    <img src="~/products/@product.ProductImage" alt="..." />
                    <div class="caption productCaption">
                        <div class="title">
                            <h3>@product.ProductName </h3>
                        </div>
                        <p>
                            @product.ProductPickUpDate1.ToShortDateString()
                        </p>
                    </div>
                    <div class="productButtons">
                        <a asp-controller="Givers" asp-action="ChangeProduct" asp-route-id="@product.ProductId" class="btn btn-light productBtn">Ändra</a>
                        <a asp-controller="Givers" asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="btn btn-light productBtn">Radera</a>

                    </div>
                </div>
            </div>
        }

    }
</div>
