@model GiversProductsVM

@{
    ViewData["Title"] = "Cart";
}

<label asp-for="Claimed"></label>
@{ foreach (var product in Model.Claimed)
    {
        @product.ProductImage
        <br />
        @product.ReceiverName
        <br />

        <a asp-controller="Givers" asp-action="ChangeProduct" asp-route-id="@product.ProductId" class="button">Ändra</a>
        <a asp-controller="Givers" asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="button">Radera</a>
    }

}

<label asp-for="Unclaimed"></label>
@{ foreach (var product in Model.Unclaimed)
    {
        @product.ProductImage
        <br />
        @product.ReceiverName
        <br />

        <a asp-controller="Givers" asp-action="ChangeProduct" asp-route-id="@product.ProductId" class="button">Ändra</a>
        <a asp-controller="Givers" asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="button">Radera</a>
    }

}

